<div class="container-fluid">

  <div class="row">
    <div class="nav-zone">
      <%= link_to '#' do %>
        <div class="d-grid col-1 mx-auto">
          <button class="btn btn-primary btn-lg" type="button">Button</button>
        </div>
      <% end %>
    </div>
  </div>

</div>